In [18]:
data='employee_code\t,fullname\t,city\t,age\t,current city\n'
n=int(input('enter the number of employee:'))
for var in range(n):
    d=input().split(',')
    data += '\t'.join(d)+'\n'
    fp=open('employee_list.csv','w')
    fp.write(data)
    fp.close()
    
d='employee_code\tfullname\tcity\tage\tcurrent city\n'
f=open('contractors_list.xlsx','w')
f.write(d)
f.close()
d='employee_code\tfullname\tcity\tage\tcurrent city\n'
f1=open('nem_record.csv','w')
f1.write(d)
f1.close()

enter the number of employee:1
emp_1,omkar,falan,18,jaipur

In [2]:
b=""
x=""
p=input('enter the employee type:')
n=int(input('enter the number of new employee for new record:'))
for var in range(n):
    r=input().split(',')
    
    b+='\t'.join(r)+'\n'
    f1=open('nem_record.csv','a')
    f1.write(b)
    f1.close()
    
    if p=='emp':
    #d='employee_code\t,fullname\t,city\t,age\t,current city\n'
       
    
        #e=input().split(',')
        #x+= '\t'.join(e)+'\n'
        fp=open('employee_list.csv','a')
        fp.write(b)
        fp.close()
#d='employee_code\tfullname\tcity\tage\tcurrent city\n'        
    else:
    #d='employee_code\tfullname\tcity\tage\tcurrent city\n'
        
    
        #e=input().split(',')
        #x+='\t'.join(e)+'\n'
        f=open('contractors_list.xlsx','a')
        f.write(b)
        f.close()

enter the employee type:tmp
enter the number of new employee for new record:1
tmp_5,amit,thailand,25,jaipur